        body {
            margin: 0;
            overflow: hidden;
            font-family: Arial, sans-serif;
        }

        #slider-container {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .slide {
            min-width: 100%;
            box-sizing: border-box;
        }

        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 24px;
            background: none;
            border: none;
            cursor: pointer;
            color: white;
        }

        #prevBtn {
            left: 10px;
        }

        #nextBtn {
            right: 10px;
        }

        img{
            width: 1500px;
            height: 1500px;
        }

        